h1 {
    top: 0px;
    font-size: 48px;
    font-family: Chalkboard;
    font-style: italic;
    color: lightgreen;
    padding: 0;
    margin: 0;
}

.background {
    background-image: url(../Images/design1_image1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 65px;
    height: 400px;
    margin: 0;
    padding: 0;
}


h2 {
    border: 1px solid green;
    text-align: center;
    font-size: 20px;
    font-family: "Open Sans";
    color: darkgreen;
    margin: 0px;
    margin-bottom: 10px;

}

h3 {
    text-align: left;
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: bold;
    color: black;
    margin: 0px;
    margin-top: 15px;
    padding: 0px;
}

.logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 450px;
    left: 10px;
}

section {
    display: flex;
    flex-direction: row;
}

.navigation {
    line-height: 0;
    border: 1px;
    position: absolute;
    top: 55px;
    right: 100px;
}

.select {
    text-decoration: none;
    background-color: blue;
    color: aliceblue;
    border: 1px solid black;
    display: inline-block;
    width: 64px;
    height: 30px;
    text-align: center;
    padding: 0px;
    box-shadow: 3px 3px skyblue;
}

.unselect {
    text-decoration: none;
    background-color: green;
    color: aliceblue;
    border: 1px solid black;
    display: inline-block;
    width: 64px;
    height: 30px;
    text-align: center;
    padding: 0px;
    box-shadow: 3px 3px lime;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 30px;
    line-height: 2;
}

.information {
    margin-left: 150px;
}

.description {
    margin-top: 0px;
}

.date {
    font-style: italic;
}

.event {
    text-indent: 20px;
}
